<IfModule mod_rewrite.c>

# Do not require trailing slashes on directories.
DirectorySlash Off

# Turn-on the `mod_rewrite` module.
RewriteEngine On

# 301 redirect to the same URL with no trailing slash.
RewriteRule ^(.*)/$ /$1 [L,R=301]

# All non-file requests get handled by `index.php`.
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule . /index.php [L]

</IfModule>