---
import BaseLayout from "../layouts/BaseLayout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
import Experience from "../components/Experience.astro";
import Featured from "../components/Featured.astro";
import Skills from "../components/Skills.astro";
import Contact from "../components/Contact.astro";
import Footer from "../components/Footer.astro";
---

<BaseLayout>
  <span id="top"></span>
  <Header />
  <main id="main">
    <Hero />
    <About />
    <Experience />
    <Featured />
    <Skills />
    <Contact />
  </main>
  <Footer />
</BaseLayout>
